<section id="about" class="py-12 sm:py-20 px-4 bg-[#161B22]">
  <div class="max-w-4xl mx-auto space-y-8">
    <h2 class="text-2xl sm:text-3xl font-bold text-center text-white mb-8">
      Sobre Mim
    </h2>
    
    <div class="bg-[#21262D] rounded-lg p-6 space-y-4 shadow-xl">
      <p class="text-base text-gray-400 leading-relaxed">
        Sou desenvolvedor com experiência sólida em <strong>Java (JSF + PrimeFaces + JPA)</strong>
        e <strong>Spring Boot</strong>, com histórico em sistemas críticos, planejamento,
         levantamento de requisitos e desenvolvimento de aplicações complexas em ambientes de alta responsabilidade,
         lidando com legado, integrações e demandas urgentes.
      </p>
      <p class="text-base text-gray-400 leading-relaxed">
        Proativo, conduzo projetos completos, do banco de dados ao front-end, buscando sempre soluções eficientes
        e código de qualidade
      </p>
    </div>
  </div>
</section>
